
/* Log Out Page */

.logOutPage {
  width: 100%;
  margin-left: 80%;
  margin-top: 10px;
} 

#LogOut{
  border: none;
  padding: 0;
  color: black;
  display: inline-block;
  vertical-align: middle; 
  padding-bottom: 4px;
}

